@import "tailwindcss";

@theme {
  --color-header: #1A273A;
  --color-theme: #2F85FF;
  --color-background: #FFFFFF;
  --color-sideMenu: #F6F6F6;
  --color-border: #E8E8E8;
  --color-textPrimary: #000000;
  --color-textLight: #6B6B6B;
  --color-textSecondary: #FFFFFF;
  --color-inputBorder: #E6E6E6;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
